name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build-and-push:
    uses: beep-industries/actions/.github/workflows/build-push-tag.yml@13-detecte-cve-from-docker-image
    secrets: inherit
